<!-- Botones en desuso
<div class="d-flex justify-content-end mb-4">
  <div class="d-flex">
    <a class="btn btn-sm btn-primary shadow-sm me-2" data-bs-target="#dataTableModal" data-bs-toggle="modal"
       href="#">
      <i class="fas fa-file"></i>Ver resumen
    </a>

    <a class="btn btn-sm btn-primary shadow-sm me-2" data-bs-target="#modalPagoPersona" data-bs-toggle="modal"
       href="#">
      <i class="fas fa-money-bill"></i>Saldar pago
    </a>

    <a class="btn btn-sm btn-primary shadow-sm" data-bs-target="#cargarRecibo" data-bs-toggle="modal"
       href="#">
      <i class="fas fa-receipt"></i> Cargar recibo
    </a>
  </div>
</div>
-->

<!-- Content Row -->
<div class="row">
  <app-saldo-card></app-saldo-card>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col me-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Gastos
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col me-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deuda saldada
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 me-3 font-weight-bold text-gray-800">50%</div>
              </div>
              <div class="col">
                <div class="progress progress-sm">
                  <div aria-valuemax="100" aria-valuemin="0"
                       aria-valuenow="50" class="progress-bar bg-danger" role="progressbar"
                       style="width: 50%"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">GASTOS GENERALES</h6>
          <div class="dropdown">
            <button aria-expanded="false" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown"
                    id="dropdownMenu" type="button">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </button>
            <ul aria-labelledby="dropdownMenu" class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">FUENTES DE GASTOS</h6>
          <div class="dropdown">
            <button aria-expanded="false" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown"
                    id="dropdownMenuLink" type="button">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </button>
            <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
                    <span class="me-2">
                        <i class="fas fa-gas-pump" style="color: #4e73df;"></i> Combustible
                    </span>
            <span class="me-2">
                        <i class="fas fa-bed" style="color: #1cc88a;"></i> Alojamiento
                    </span>
            <span class="me-2">
                        <i class="fas fa-burger" style="color: #36b9cc;"></i> Comida
                    </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
