<div class="d-flex w-100 align-content-end justify-content-end flex-wrap">
  <form (ngSubmit)="getPage(1)" [formGroup]="groupForm"  class="m-2 form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

    <div class="input-group d-flex align-items-end flex-wrap">
      <div class="mr-2 d-flex align-items-center flex-wrap">

        <div>
          <label for="tipo">Tipo </label>
          <select formControlName="tipoGasto" id="tipo" class="mr-1">
            <option value="">Todas</option>
            <option value="COMIDA">Comida</option>
            <option value="COMBUSTIBLE">Combustible</option>
            <option value="ALOJAMIENTO">Alojamiento</option>
            <option value="ENTRADAS">Entradas</option>
          </select>
        </div>
        <div>
          <label for="fechaDesde">Fecha desde </label>
          <input placeholder="dd/mm/yyyy" formControlName="fechaDesde" id="fechaDesde" class="mr-1" type="date">
        </div>
        <div>
          <label for="fechaHasta">Fecha hasta </label>
          <input placeholder="dd/mm/yyyy" id="fechaHasta" formControlName="fechaHasta" type="date">
        </div>

      </div>


      <input aria-describedby="basic-addon2" formControlName="nombreGrupo" aria-label="Buscar" class="form-control bg-light border-0 small"
             placeholder="Buscar por grupo..." type="text">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>

    </div>
  </form>
  <a class="btn btn-sm btn-primary shadow-sm" data-bs-target="#cargarRecibo" data-bs-toggle="modal"
     data-bs-dismiss="modal" routerLink="crear">
    <i class="fas fa-receipt"></i> Cargar gasto
  </a>
</div>

<div class="card mt-3">


  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered w-100">
        <thead>
        <tr>
          <th>Compartido por</th>
          <th>Grupo</th>
          <th>Monto</th>
          <th>Día compra</th>
          <th>Categoría</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody
          *ngFor="let gasto of gastos | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
        <tr>
          <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;">
            <span ngbTooltip="{{Object.keys(gasto.valores)}}"
                  class="text-truncate">{{ Object.keys(gasto.valores).join(', ') }}</span>
          </td>

          <td *ngIf="!gasto.nombreGrupo">-</td>
          <td *ngIf="gasto.nombreGrupo">{{ gasto.nombreGrupo }}</td>
          <td>{{ gasto.monto }}</td>
          <td>{{ gasto.fecha | date:'dd/MM/yyyy' }}</td>

          <td>

            <i *ngIf="gasto.tipo=='COMBUSTIBLE'" class="fa-solid fa-gas-pump"></i>


            <i *ngIf="gasto.tipo=='ENTRADAS'" class="fa-solid fa-ticket"></i>


            <i *ngIf="gasto.tipo=='COMIDA'" class="fa-solid fa-pizza-slice"></i>


            <i *ngIf="gasto.tipo=='ALOJAMIENTO'" class="fa-solid fa-hotel"></i>
            {{ gasto.tipo }}


          </td>
          <td class="d-flex align-items-center justify-content-evenly">
            <a *ngIf="gasto.imagen"  href="/assets/{{gasto.imagen}}">
              <i class="fa-regular fa-file"></i>
            </a>

            <a href="#">
              <i class="fa-solid fa-eye"></i>
            </a>

            <a [routerLink]="['/gastos/modificar',gasto.id]">
              <i class="fa-solid fa-edit"></i>
            </a>
            <a href="#">
              <i class="fa-solid fa-money-bill btn-danger"></i>
            </a>
          </td>

        </tr>

        </tbody>
      </table>
    </div>

  </div>


  <div *ngIf="totalItems!=0" class="has-text-centered">
    <div [ngClass]="{ 'hidden': !loading }" class="spinner"></div>
    <pagination-controls previousLabel="Anterior"
                         nextLabel="Siguiente" (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>
  <div *ngIf="totalItems==0" class="card-body">
    <div class="text-center">
      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
           src="https://image.flaticon.com/icons/png/512/2919/2919600.png" alt="...">
      <p>No se encontraron resultados</p>
    </div>
  </div>
</div>
