<div class="d-flex w-100 align-content-end justify-content-end">
  <form
    class="m-2 d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input aria-describedby="basic-addon2" aria-label="Buscar" class="form-control bg-light border-0 small"
             placeholder="Buscar..." type="text">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
  <a class="btn btn-sm btn-primary shadow-sm" data-bs-target="#cargarRecibo" data-bs-toggle="modal"
     href="#">
    <i class="fas fa-receipt"></i> Cargar recibo
  </a>
</div>
<div class="card mt-3">


  <div class="card-body">
    <h5 class="card-title">Detalles de Gastos</h5>
    <div class="table-responsive">
      <table class="table table-bordered w-100">
        <thead>
        <tr>
          <th>Compartido por</th>
          <th>Monto</th>
          <th>Día compra</th>
          <th>Categoría</th>
          <th>Ver detalle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Persona A, Persona B</td>
          <td>$30.00</td>
          <td>2023-09-15</td>
          <td><i class="fa-solid fa-gas-pump"></i> Combustible</td>
          <td><a href="detalle.html"> Ver detalle </a></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="cargarRecibo" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cargar Recibo</h4>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="tuFormulario">
          <div class="form-group">
            <label for="monto">Monto del gasto:</label>
            <input class="form-control" formControlName="monto" id="monto" type="text">
          </div>
          <div class="form-group">
            <label for="fecha">Fecha del gasto:</label>
            <input class="form-control" formControlName="fecha" id="fecha" type="date">
          </div>
          <div class="form-group">
            <label for="imagen">Imagen asociada:</label>
            <input class="form-control" formControlName="imagen" id="imagen" type="file">
          </div>
          <div class="form-group">
            <label for="grupoBool">¿Gasto grupal?:</label>
            <input class="form-control" formControlName="grupoBool" id="grupoBool" type="checkbox">
          </div>
          <div class="form-group">
            <label for="formaDividir">Forma de dividir el gasto entre integrantes:</label>
            <select class="form-control" formControlName="formaDividir" id="formaDividir">
              <option value="igual">Igual monto/% para todos</option>
              <option value="fijos">Montos fijos por integrante</option>
              <option value="porcentaje">Porcentaje por integrante</option>
            </select>
          </div>

          <div class="form-group">
            <label for="categoria">Categoría del gasto:</label>
            <select class="form-control" formControlName="categoria" id="categoria">
              <option value="comida">Comida</option>
              <option value="transporte">Combustible</option>
              <option value="entretenimiento">Alojamiento</option>
              <option value="otros">Otros</option>
            </select>
          </div>

          <div class="form-group">
            <label for="quienHizoCompra">Quién hizo la compra:</label>
            <input class="form-control" formControlName="quienHizoCompra" id="quienHizoCompra" type="text">
          </div>
          <div class="form-group">
            <button (click)="agregarUsuario()" class="btn btn-primary" type="button">Agregar Usuario</button>
          </div>
          <div *ngFor="let usuario of personasFormArray.controls; let i = index"
               formArrayName="personas">
            <div [formGroupName]="i">
              <div class="form-group-row">
                <label [attr.for]="'nombre' + i">Nombre:</label>
              </div>
              <div>
                <input [attr.id]="'nombre' + i" class="form-control" formControlName="nombre" type="text">
              </div>
              <label [attr.for]="'monto' + i">Monto:</label>
              <div>
                <input [attr.id]="'monto' + i" class="form-control" formControlName="monto" type="text">
              </div>
              <div class="form-group">
                <button (click)="eliminarUsuario(i)" class="btn btn-primary" type="button">Eliminar Usuario</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="guardarRecibo()" class="btn btn-primary" type="button">Guardar Recibo</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cerrar</button>
      </div>
    </div>
  </div>
</div>
