<div class="d-flex w-100 align-content-end justify-content-end flex-wrap">
  <form class="m-2 form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

    <div class="input-group d-flex align-items-center">
      <div class="mr-2">
        <select required>
          <option value="0">Todos</option>
          <option value="1">Amigos</option>
          <option value="2">Solicitudes</option>
        </select>
      </div>
      <input aria-describedby="basic-addon2" aria-label="Buscar" class="form-control bg-light border-0 small"
             placeholder="Buscar..." type="text">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
  <a class="btn btn-sm btn-primary shadow-sm" data-bs-target="#cargarRecibo" data-bs-toggle="modal"
     data-bs-dismiss="modal" href="#">
    <i class="fas fa-receipt"></i> Enviar solicitud
  </a>
</div>

<div class="card mt-3">


  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered w-100">
        <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody
          *ngFor="let amigo of amigos | paginate: { id: 'server', itemsPerPage: perPage, currentPage: currentPage, totalItems: totalItems }">
        <tr>

          <td>{{ amigo.usuario }}</td>
          <td>{{amigo.nombre}}</td>
          <td>{{amigo.apellido}}</td>


        </tr>

        </tbody>
      </table>
    </div>

  </div>
  <div class="has-text-centered">
    <div [ngClass]="{ 'hidden': !loading }" class="spinner"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="cargarRecibo" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cargar Recibo</h4>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">


      </div>



      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cerrar</button>
        <button  class="btn btn-primary" data-bs-dismiss="modal" type="button">Enviar solicitud
        </button>

      </div>
    </div>
  </div>
</div>
