<div class="d-flex w-100 align-content-end justify-content-end flex-wrap">
  <form (ngSubmit)="getPage(1)" [formGroup]="groupForm"
        class="m-2 form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

    <div class="input-group d-flex align-items-center">
      <div class="mr-2">
        <label for="categoriaBusqueda">Categoría</label>
        <select formControlName="categoria" id="categoriaBusqueda" required>
          <option value="" selected>Todas</option>
          <option value="FAMILIAR">Familiar</option>
          <option value="OCIO">Ocio</option>
          <option value="VIAJE">Viaje</option>
          <option value="SALIDA">Salida</option>

        </select>
      </div>
      <div>
        <label for="grupoBusqueda">Grupo</label>

        <input id="grupoBusqueda" aria-describedby="basic-addon2" aria-label="Buscar"
               class="form-control  border-0 small"
               formControlName="nombreGrupo" placeholder="Buscar..." type="text">

          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>

      </div>
    </div>
  </form>
  <a class="btn btn-primary mb-4" data-bs-target="#grupoModal" data-bs-toggle="modal" type="button">
    Crear Grupo
  </a>
</div>

<div class="row mt-4">
  <div
    *ngFor="let grupo of grupos | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
    class="d-flex justify-content-center align-items-center col-lg-4 mb-4">
    <div class="card shadow w-100" style="max-width: 300px;">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Información de grupo</h6>
      </div>
      <div class="card-body">

        <div class="text-center mb-4">
          <i *ngIf="grupo.categoria == 'SALIDA'" class="fa-solid fa-door-open"></i>
          <i *ngIf="grupo.categoria == 'OCIO'" class="fa-solid fa-face-laugh-wink"></i>
          <i *ngIf="grupo.categoria == 'VIAJE'" class="fa-solid fa-car-side"></i>
          <i *ngIf="grupo.categoria == 'FAMILIAR'" class="fa-solid fa-users"></i>
        </div>
        <h5 class="text-center">{{ grupo.nombreGrupo }}</h5>
        <div class="mt-3">
          <p><strong>Categoría: </strong>{{ grupo.categoria }}</p>
          <p><strong>Integrantes</strong></p>
          <ul>
            <li *ngFor="let integrante of grupo.participantes">{{ integrante }}</li>
          </ul>
        </div>

        <button class="btn btn-primary float-right" [routerLink]="['/grupo', grupo.id]">Ver grupo</button>
      </div>
    </div>
  </div>

  <div *ngIf="totalItems!=0" class="has-text-centered">
    <div [ngClass]="{ 'hidden': !loading }" class="spinner"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>
</div>
<div *ngIf="totalItems==0" class="card-body">
  <div class="text-center">
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
         src="/assets/8961448_3973477.svg" alt="...">
    <p>No se encontraron resultados</p>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="grupoModalLabel" class="modal fade" id="grupoModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="grupoModalLabel">Crear Nuevo Grupo</h5>
        <button aria-label="Cerrar" class="close" data-bs-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="groupForm">
          <div class="form-group">
            <label for="nombreGrupo">Nombre del Grupo</label>
            <input class="form-control" formControlName="nombreGrupo" id="nombreGrupo"
                   placeholder="Ingrese el nombre del grupo"
                   type="text"
                   [ngClass]="{ 'is-invalid':  f['nombreGrupo'].invalid && (f['nombreGrupo'].dirty || f['nombreGrupo'].touched )}"
            >
            <div *ngIf="f['nombreGrupo'].invalid && (f['nombreGrupo'].dirty || f['nombreGrupo'].touched )"
                 class="invalid-feedback">
              <div *ngIf="f['nombreGrupo'].errors?.['required']">Nombre de grupo requerido</div>
              <div *ngIf="f['nombreGrupo'].errors?.['unique']">Ya administra un grupo con ese nombre</div>
            </div>

          </div>

          <div class="form-group">
            <label for="categoria">Categoría del Grupo</label>
            <ng-select
              [ngClass]="{ 'is-invalid':  f['categoria'].invalid && (f['categoria'].dirty || f['categoria'].touched )}"
              formControlName="categoria" id="categoria">
              <ng-option [disabled]="true" [value]="">--Seleccione una opción--</ng-option>
              <ng-option value="FAMILIAR">Familia</ng-option>
              <ng-option value="VIAJE">Viaje</ng-option>
              <ng-option value="SALIDA">Salida</ng-option>
              <ng-option value="OCIO">Ocio</ng-option>
            </ng-select>

            <div *ngIf="f['categoria'].invalid && (f['categoria'].dirty || f['categoria'].touched )"
                 class="invalid-feedback">
              <div *ngIf="f['categoria'].errors?.['required']">La categoría es requerida</div>

            </div>
          </div>

          <div class="form-group">
            <label for="amigos">Agregar Amigos</label>
            <ng-select id="amigos" [multiple]="true" formControlName="participantes">
              <ng-option *ngFor="let amigo of amigos" [value]="amigo">{{ amigo }}</ng-option>
            </ng-select>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cerrar</button>
            <button [disabled]="!groupForm.valid" class="btn btn-primary" type="submit">Crear
              Grupo
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
