<div class="container mt-5">
  <h1 class="text-center">¡Bienvenido a CuentasClaras!</h1>
  <p class="lead text-center">La plataforma que te permite compartir gastos fácilmente con tus amigos.</p>

  <div class="card-group mt-5">
    <div class="card mx-1">
      <img src="../../../assets/personas-que-toman-selfie-juntos-dia-inscripcion.jpg" class="card-img-top" alt="Card Image">
      <div class="card-body">
        <h5 class="card-title">Crea Grupos</h5>
        <p class="card-text">Organiza tus gastos creando grupos para eventos, viajes o cualquier ocasión.</p>
      </div>
    </div>

    <div class="card mx-1">
      <img src="../../../assets/pareja-feliz-tiro-medio-interior.jpg" class="card-img-top" alt="Card Image">
      <div class="card-body">
        <h5 class="card-title">Registra Gastos</h5>
        <p class="card-text">Registra fácilmente los gastos realizados y mantén un control detallado.</p>
      </div>
    </div>

    <div class="card mx-1">
      <img src="../../../assets/amigos-bengalas-noche.jpg" class="card-img-top" alt="Card Image">
      <div class="card-body">
        <h5 class="card-title">Comparte con Amigos</h5>
        <p class="card-text">Invita a tus amigos a unirse a tus grupos y comparte los gastos de forma transparente.</p>
      </div>
    </div>
  </div>
</div>
